USE [dev234llsql_24 ]
GO
/****** Object:  Table [dbo].[BANG CHI TIET HOA DON]    Script Date: 12/6/2023 8:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG CHI TIET HOA DON](
	[SOHD] [nchar](10) NULL,
	[MAHH] [nchar](10) NULL,
	[SOLUONG] [int] NULL,
	[HANGHOA] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG HANG HOA]    Script Date: 12/6/2023 8:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG HANG HOA](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](150) NULL,
	[DTV] [nvarchar](20) NULL,
	[SOLUONGTON] [smallint] NULL,
 CONSTRAINT [PK_BANG HANG HOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG HOA DON]    Script Date: 12/6/2023 8:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG HOA DON](
	[SOHD] [nchar](10) NOT NULL,
	[LOAIHD] [nvarchar](50) NULL,
	[NGAYHD] [date] NULL,
	[MAKH] [nchar](10) NULL,
	[TRIGIA] [int] NULL,
 CONSTRAINT [PK_BANG HOA DON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG KHACH HANG]    Script Date: 12/6/2023 8:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG KHACH HANG](
	[MAKH] [nchar](10) NULL,
	[TENKH] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [int] NULL,
	[EMAIL] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BANG HOA DON] ([SOHD], [LOAIHD], [NGAYHD], [MAKH], [TRIGIA]) VALUES (N'HD001     ', N'DO', NULL, N'KH001     ', 2000000)
INSERT [dbo].[BANG HOA DON] ([SOHD], [LOAIHD], [NGAYHD], [MAKH], [TRIGIA]) VALUES (N'HD002     ', N'THUONG', NULL, N'KH002     ', 3000000)
GO
INSERT [dbo].[BANG KHACH HANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH001     ', N'SON PHAM  ', N'HAI DUONG', 789282470, N'SONPHAMAN5')
INSERT [dbo].[BANG KHACH HANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH002     ', N'TRUNG CHIN', N'HA NOI', 23532525, N'TRUNGTRI  ')
GO
ALTER TABLE [dbo].[BANG HOA DON]  WITH CHECK ADD  CONSTRAINT [FK_BANG HOA DON_BANG HOA DON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[BANG HOA DON] ([SOHD])
GO
ALTER TABLE [dbo].[BANG HOA DON] CHECK CONSTRAINT [FK_BANG HOA DON_BANG HOA DON]
GO
