USE [master]
GO
/****** Object:  Database [CSDL_LAB1]    Script Date: 12/11/2023 4:36:03 PM ******/
CREATE DATABASE [CSDL_LAB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL_LAB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BARTENDER\MSSQL\DATA\CSDL_LAB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSDL_LAB1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BARTENDER\MSSQL\DATA\CSDL_LAB1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL_LAB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL_LAB1]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [bigint] NULL,
	[MAVTU] [bigint] NULL,
	[SLDAT] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [bigint] NOT NULL,
	[MAVTU] [bigint] NULL,
	[SLNHAP] [int] NULL,
	[DGNHAP] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CTPNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [bigint] NULL,
	[MAVTU] [bigint] NULL,
	[SLSXUAT] [int] NULL,
	[DGXUAT] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [bigint] NULL,
	[NGAYDH] [date] NULL,
	[MANHACC] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [bigint] NULL,
	[TENNHACC] [nvarchar](150) NULL,
	[DIACHI] [varchar](250) NULL,
	[DIENTHOAI] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [bigint] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SODH] [int] NULL,
 CONSTRAINT [PK_PNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [bigint] NULL,
	[NGAYXUAT] [date] NULL,
	[TENKH] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [bigint] NOT NULL,
	[MAVTU] [bigint] NULL,
	[SLDAU] [int] NULL,
	[TONGSLN] [int] NULL,
	[TONGSLX] [int] NULL,
	[SLCUOI] [int] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/11/2023 4:36:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [bigint] NOT NULL,
	[TENVTU] [nvarchar](150) NULL,
	[DVTINH] [nchar](150) NULL,
	[PHANTRAM] [float] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
